*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav{
    background-color: red;
    height: 80px;
    color: white;
    
}

nav li:hover{
    background-color: rgb(90, 78, 138);
    cursor: pointer;
}